torch
torchvision
jupyter 
jupyterlab 
jupyter_contrib_nbextensions 
texttable
pygsp
watermark
pyforest
pympler
jupytext
beeprint
pipreqs
memory_profiler
cupy-cuda102
metis==0.2a4
networkx==2.3
numba==0.46.0
scipy==1.4.1
seaborn==0.9.0
matplotlib==3.1.1
pandas==0.25.3
gensim==3.8.0
numpy==1.17.4
metis==0.2a4
tensorflow==2.1.0
scikit_learn==0.23.1
tensorboardX==2.1
