torch
torchvision
jupyter 
jupyterlab 
jupyter_contrib_nbextensions 
texttable
pygsp
watermark
pyforest
pympler
beeprint
pipreqs
memory_profiler
cupy-cuda101
pretty_errors
tqdm
scikit-image
Cython
requests
opencv-python
ogb
eagerpy
networkx==2.3
numba==0.46.0
llvmlite==0.30
scipy==1.4.1
seaborn==0.9.0
matplotlib==3.1.1
pandas==0.25.3
gensim==3.8.0
numpy==1.18.1
metis==0.2a4
scikit_learn==0.22
tensorboardX==2.1
tensorflow==2.1.0